<div class="container bg-light shadow-sm rounded p-3">
  <%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs my-1">
      <%= f.input :title %>
      <%= f.input :body %>
    </div>

    <div class="form-actions mt-3">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
